<script type="text/x-template" id="layout">
    <div class="formar-layout">
        <router-view></router-view>
    </div>
</script>

<script type="text/x-template" id="filter-by-date">
    <form submit="return false" novalidate>
        <table class="ui compact celled definition table">
                <tr>
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <select name="month" v-model="formInputs.month">
                                <option :value="0">Mois</option>
                                <option v-for="(month, index) in Month" :value="index + 1"> ${month} </option>
                            </select>

                            <select name="year" v-model="formInputs.year">
                                <option :value="0">Année</option>
                                <option v-for="year in Years" :value="year"> ${year} </option>
                            </select>
                         </div>
                    </td>
                    <td>
                        <button type="button" @click="findTraining" class="ui small button">Trouver</button>
                        <button type="button" @click="exportToExcel('xlsx')" class="ui secondary small button">Exporter vers Excel</button>
                    </td>
                </tr>
        </table>
    </form>
</script>

<script type="text/x-template" id="details">
    <div class="former-details">
        <comp-filter-date @filter="filterDate" ></comp-filter-date>
        <div v-if="loading" class="text-center"><p style="text-align: center"Code>Chargement en cours...</p></div>
        <div v-if="!loading && products.length ===0" class="text-center">
            <p style="text-align: center">Aucun commande trouver</p>
        </div>
        <table class="ui compact celled table" id="xls-downloaded" v-if="!loading && products.length > 0">
            <thead>
                <tr>
                    <th>Designation</th>
                    <th>Ref</th>
                    <th>P.U</th>
                    <th>Total TTC</th>
                    <th>#</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="product in products" :key="product.p.id">
                    <td>${product.p.name}</td>
                    <td>${product.p.sku}</td>
                    <td v-html="product.p.price_html"></td>
                    <td>
                        <div class="ui label">
                            <span  v-html="product.ttf_format"></span>
                        </div>
                        {% comment %}<div class="ui label">
                            <div class="detail" v-for="id in product.order_ids">
                                <a class="" :href="'/wp-admin/post.php?post=' + id + '&action=edit'" target="_blank">#${id}</a>
                            </div>
                        </div>{% endcomment %}

                    </td>
                    <td>
                        <router-link class="ui small button" :to="{name: 'TrainingDetails', params: {id: product.p.id}}">Details</router-link>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">  
                <tr>
                    <th colspan="3">
                        TOTAL TTC
                    </th>
                    <th>
                    <a class="ui teal image label">
                        ${ total }
                        <div class="detail"> ${ currency }</div>
                    </a>
                    </th>
                </tr>
            </tfoot>

        </table>
        
    </div>
</script>


<script type="text/x-template" id="training-details">
    <div class="former-details">
        <div class=""></div>
        <router-link class="ui primary labeled icon button" :to="{name: 'FormerDetails'}">
            <i class="chevron left icon"></i>
            Retour
        </router-link>
        <div class="ui medium header" v-if="Product !== null">
            ${Product.title.rendered}
        </div>
        <comp-filter-date @filter="filterDate"></comp-filter-date>
        <div v-if="loading" class="text-center"><p>Chargement en cours...</p></div>
        <div v-if="!loading && items.length ===0" class="text-center"><p>Aucun commande pour l'instant</p></div>

        <table class="ui compact celled definition table" id="xls-downloaded" v-if="!loading && items.length > 0">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Code</th>
                    <th>Date de commande</th>
                    <th>Date de livraison</th>
                    <th>Prix</th>
                </tr>
            </thead>

            <tbody>

                {% comment %} for item {% endcomment %}
                <tr v-for="item in items">
                    <td><b>${item.customer.full_name}</b> - <i>${item.customer.email}</i></td>
                    <td><a class="preview button" title="Voir commande" target="_blank" :href="item.oUrl">${item.code}</a></td>
                    <td>${item.oDateCreated}</td>
                    <td>${item.oDate}</td>
                    <td><span v-html="item.TTC"></span><span> ${currency}</span></td>
                </tr>
            </tbody>

            <tfoot class="full-width">
                <tr>
                    <th colspan="4">
                        <div class="ui small button">
                            TOTAL TTC
                        </div>
                    </th>
                    <th colspan="1">
                        <div class="ui right floated small secondary  button">
                            ${TotalTTC} ${currency}
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div>
            
        </div>
    </div>
</script>

<div id="former-details-app">
    <router-view></router-view>
</div>