<script type="text/x-template" id="layout">
    <div class="formar-layout">
        <router-view></router-view>
    </div>
</script>

<script type="text/x-template" id="details">
    <div class="former-details">
        <div v-if="loading" class="text-center"><p>Chargement en cours...</p></div>
        <table class="ui compact celled definition table" v-if="!loading && products.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Designation</th>
                    <th>SKU</th>
                    <th>Prix Unitaire</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="product in products" :key="product.id">
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                    </td>
                    <td>${product.name}</td>
                    <td>${product.sku}</td>
                    <td v-html="product.price_html"></td>
                    <td>
                        <router-link class="ui small button" :to="{name: 'TrainingDetails', params: {id: product.id}}">Details</router-link>
                    </td>
                </tr>
            </tbody>

            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="4">
                        <a :href="postNew" class="ui right floated small secondary labeled icon button">
                            <i class="user icon"></i> Ajouter une formation
                        </a>
                        <div class="ui small button">
                            Approve
                        </div>
                        <div class="ui small  disabled button">
                            Approve All
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</script>
<script type="text/x-template" id="training-details">
    <div class="former-details">
        <div class=""></div>
        <router-link class="ui primary labeled icon button" :to="{name: 'FormerDetails'}">
            <i class="chevron left icon"></i>
            Retour
        </router-link>
        <div class="ui medium header" v-if="Product !== null">
            ${Product.title.rendered}
        </div>

        <table class="ui compact celled definition table">
                <tr>
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <form submit="return false" novalidate>
                                <select name="month" v-model="filters.month">
                                    <option :value="0">Mois</option>
                                    <option v-for="(month, index) in Month" :value="index + 1"> ${month} </option>
                                </select>

                                <select name="year" v-model="filters.year">
                                    <option :value="0">Année</option>
                                    <option v-for="(year, index) in Years" :value="year"> ${year} </option>
                                </select>
                                <button type="button" @click="filterDate($event)" class="ui small button">Trouver</button>
                            </form>
                        </div>
                    </td>
                </tr>
        </table>

        <div v-if="loading" class="text-center"><p>Chargement en cours...</p></div>
        <div v-if="!loading && items.length ===0" class="text-center"><p>Aucun commande pour l'instant</p></div>

        <table class="ui compact celled definition table" v-if="!loading && items.length > 0">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Code</th>
                    <th>Date de commande</th>
                    <th>Date de livraison</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                {% comment %} for item {% endcomment %}
                <tr v-for="item in items">
                    <td><b>${item.customer.full_name}</b> - <i>${item.customer.email}</i></td>
                    <td>${item.code}</td>
                    <td>${item.oDateCreated}</td>
                    <td>${item.oDate}</td>
                    <td><span v-html="item.TTC"></span><span> ${currency}</span></td>
                    <td><a class="preview button" target="_blank" :href="item.oUrl">Voir commande</a></td>
                </tr>
            </tbody>

            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="5">
                        <div class="ui right floated small secondary  button">
                            ${TotalTTC} ${currency}
                        </div>
                        <div class="ui small button">
                            TOTAL TTC
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
        <div>
            
        </div>
    </div>
</script>

<div id="former-details-app">
    <router-view></router-view>
</div>